# Cкопируйте файл, отбросив расширение ".example" в /etc/contact7handler/contact7.properties.

# Хост, на котором будет работать сервер.
serverHost = 127.0.0.1

# Порт, на котором будет работать сервер.
serverPort = 9332

# Секрет Яндексовой капчи
yaCaptchaSecret = 111111111-2222222-33333333

# Идентификатор бота Телеги, cмотри @BotFather.
telegramBotId = aaaaaa-bbbb-1111-333cde

# Идентификатор канала Телеги, куда надо пересылать сообщения из ContactForm7.
telegramChatId = -089348343
