# Cкопируйте файл, отбросив расширение ".example".

# Хост, на котором будет работать сервер.
serverHost = 127.0.0.1

# Порт, на котором будет работать сервер.
serverPort = 9332

# Секрет Гугловой рекапчи
reCaptchaSecret = 111111111-2222222-33333333
