# Cкопируйте файл, отбросив расширение ".example".

# Корневой URL публичного сайта, который надо отзеркалить.
rootMain=http://localhost:7080

# Альтернативные псевдонимы сайта, куда могут ссылаться ресурсы. Разделитель списка -- запятая.
rootAliases=https://aikisib.ru, https://staging.aikisib.ru

# Целевой URL, который применяется для
# <link rel="canonical" href="bla-bla-bla">,
# где href должен быть абсолютной ссылкой.
canonicalHref=https://aikisib.ru

# Ненужные для зеркалирования префиксы. Разделитель списка -- запятая.
ignoredPrefixes = /comments, /wp-json, /wp-admin, /xmlrpc, /?p

# Ненужные для зеркалирования суффиксы. Разделитель списка -- запятая.
ignoredSuffixes = xml

# Ненужные для зеркалирования типы содержимого. Разделитель списка -- запятая.
ignoredContentTypes = application/rss+xml

# Путь к утилите cwebp.
cwebpExecutable = /bin/cwebp

# Путь ко временной директории для скачиваемых файлов.
tempDir = /tmp/aikisib_input

# Путь к целевой директории, куда сохранять зеркалируемые файлы.
# Директория очищается вначале работы приложения.
mirrorDir = /tmp/aikisib_mirror
