# скопируйте файл, отбросив расширение ".example".
# Корневой URL публичного сайта.
publicUrl=https://aikisib.ru

# Ненужные для зеркалирования префиксы. Разделитель списка -- запятая.
ignoredPrefixes = /comments, /wp-json, /wp-admin, /xmlrpc

# Ненужные для зеркалирования суффиксы. Разделитель списка -- запятая.
ignoredSuffixes = xml

# Ненужные для зеркалирования типы содержимого. Разделитель списка -- запятая.
ignoredContentTypes = application/rss+xml
