# скопируйте файл, отбросив расширение ".example".

# Путь к страничке входа в админку вордпресса.
wordpressLoginPath = /wp-admin/

# Имя пользователя с правами администратора.
username = admin

# Пароль пользователя с правами администратора.
password = pAsSw0rD
