# скопируйте файл, отбросив расширение ".example".

# Корневой URL сайта, где доступна админка
adminUrl = https://aikisib.ru

# Идентификаторы слайдеров, которые хочется экспортировать.
# Если идентификаторов несколько, перечисляем их через запятую.
sliderIds = 5
